{% extends "layout.html" %}

{% block body %}
  <div id="formcontainer">
    <div id="inputcontainer">
      <h1 style="font-family: Roboto; margin-top: 0px;">Login</h1>
      <form action="{{ url_for('index') }}" method="post">
        <p style="color: red; font-family: Roboto;">{{loginalert}}<p>
        <p>Username</p>
        <input type="text" placeholder="Username" name="name">
        <p>Password</p>
        <input type="password" placeholder="Password" name="pass" style="margin-bottom: 5px;"><br>
        <button>Submit</button><br><br>
        <a href="{{url_for('register')}}" style="color: #9b9b9b; font-family: Roboto; font-weight: 400; font-size: .7em;">
          Need to Register?
        </a>
      </form>
    </div>
  </div>
{% endblock %}
